<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
    href="//fonts.loli.net/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700">

<!-- fontawesome -->
<link href="//cdn.bootcdn.net/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

<!-- hljs -->
<link href="/assets/prism.css" rel="stylesheet" />
<script defer src="https://unpkg.com/prismjs@v1.x/components/prism-core.min.js"></script>
<script defer src="https://unpkg.com/prismjs@v1.x/plugins/autoloader/prism-autoloader.min.js"></script>

<!-- katex -->
<link rel="stylesheet" href="//cdn.bootcdn.net/ajax/libs/KaTeX/0.16.6/katex.min.css" />
<script defer src="//cdn.bootcdn.net/ajax/libs/KaTeX/0.16.6/katex.min.js"></script>
<script defer src="//cdn.bootcdn.net/ajax/libs/KaTeX/0.16.6/contrib/auto-render.min.js"
    onload="renderMathInElement(document.body);"></script>
<script defer src="//cdn.bootcdn.net/ajax/libs/KaTeX/0.16.6/contrib/copy-tex.min.js"></script>

<link rel="stylesheet" href="/assets/index.css">
<link rel="stylesheet" href="/assets/breadcrumb.css">
