<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="article antialiased text-slate-500 dark:text-slate-400 bg-white dark:bg-slate-900 font-serif">
    <script type="module" src="../src/main.tsx"></script>
    <nav class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-none bg-gray-50 dark:bg-gray-800 dark:border-gray-700 fixed w-full z-50 justify-between"
        aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
            <li class="inline-flex items-center">
                <a href="/"
                    class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                    <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                    </svg>
                    Home
                </a>
            </li>
            {% for key, value in ancestors %}
            <li>
                <div class="flex items-center">
                    <svg class="rtl:rotate-180 block w-3 h-3 mx-1 text-gray-400 " aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 9 4-4-4-4" />
                    </svg>
                    <a href="{{ value }}"
                        class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white">
                        {{ key }}
                    </a>
                </div>
            </li>
            {% endfor %}
            <li aria-current="page">
                <div class="flex items-center">
                    <svg class="rtl:rotate-180  w-3 h-3 mx-1 text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 9 4-4-4-4" />
                    </svg>
                    <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400">{{ title }}</span>
                </div>
            </li>
        </ol>
        <div class="flex gap-2 items-center">
            <div id="search_bar"></div>
            <div id="theme_btn"></div>
        </div>
    </nav>

    <div id="header" class="prose prose-slate dark:prose-invert">
        <h1 class="mt-16">{{ title }}</h1>
        {% if toc %}
        <div id="toc" class="toc">
            <div id="toctitle">TOC</div>
            {{ toc }}
        </div>
        {% endif %}
    </div>
    {% if content %}
    <div id="content">
        <div class="prose prose-slate max-w-full dark:prose-invert">
            {{ content }}
        </div>
    </div>
    {% endif %}
    {% if footnotes %}
    <div id="footnotes">
        {{ footnotes }}
    </div>
    {% endif %}
    {% if last_modify_date %}
    <div id="footer">
        <div id="footer-text">
            <div>Last moify: {{ last_modify_date }}</div>
            <div>Build time：{{ now.Format("[year]-[month]-[day] [hour]:[minute]:[second]") }}</div>
            <div>Powered By <a href="https://github.com/cathaysia/asphinx">asphinx</a></div>
        </div>
    </div>
    </div>
    {% endif %}
    <script type="module" src="../src/tail.tsx"></script>
</body>

</html>
