<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head" %}
</head>
<body class="article">
    <div id="header">{{ title }}</div>
    {% if toc %}
    <div id="toc" class="toc">
        {{ toc }}
    </div>
    {% endif %}
    {% if content %}
    <div id="content">
    {{ content }}
    </div>
    {% endif %}
    {% if footnotes %}
    <div id="footnotes">
    {{ footnotes }}
    </div>
    {% endif %}
</body>
</html>
