<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head" %}
</head>
<body class="article">
    <div id="header">
        <h1>{{ title }}</h1>
        {% if toc %}
        <div id="toc" class="toc">
            {{ toc }}
        </div>
        {% endif %}
    </div>
    {% if content %}
    <div id="content">
    {{ content }}
    </div>
    {% endif %}
    {% if footnotes %}
    <div id="footnotes">
    {{ footnotes }}
    </div>
    {% endif %}
    {% if last_modify_date %}
    <div id="footer">
    <div id="footer-text">
        <div>最后修改于 {{ last_modify_date }}</div>
        <div>构建时间：{{ build_date }}</div>
        <div>Powered By <a href="https://github.com/cathaysia/asphinx">asphinx</a></div>
    </div>
    </div>
    </div>
    {% endif %}
    <code>
    {{ resource.Get("Cargo.toml") }}
    </code>
</body>
</html>
